* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Bebas Neue", cursive;
  background-color: darkgrey;
  width: 100%;
  min-height: 1000px;
}
body #titulo {
  color: darkred;
  text-align: center;
  width: 100%;
}
body header {
  background-color: black;
  border-radius: 5px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
body .titulop {
  color: darkred;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
body nav {
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: white;
  border-color: darkred;
  border-style: solid;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  display: grid;
}
body main {
  width: 100%;
}
body main .imagenprincipal {
  height: 250px;
  width: 250px;
  border-radius: 5px;
}
body .main1 {
  width: 100%;
  display: grid;
  grid-template-areas: "img h2" "img p";
}
body .main1 img {
  grid-area: img;
}
body .main1 h2 {
  grid-area: h2;
}
body .main1 p {
  grid-area: p;
}
body .trabajos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 1000px;
}
body .trabajos .modelos {
  width: 200px;
}
body footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  margin-top: auto;
}

li :hover {
  box-shadow: 2px 2px black;
}

li {
  content: normal;
}

@media (max-width: 380px) {
  nav {
    height: 70px;
  }

  .navbar-collapse {
    height: auto;
    background-color: white;
    border-radius: 1px;
    border-color: black;
  }

  body, main, .main1, .headerprincipal, .imagenprincipal .conteiner, .trabajos {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: center;
  }
  body img, main img, .main1 img, .headerprincipal img, .imagenprincipal .conteiner img, .trabajos img {
    width: 150px;
    height: 150px;
  }
  body .imagenprincipal, main .imagenprincipal, .main1 .imagenprincipal, .headerprincipal .imagenprincipal, .imagenprincipal .conteiner .imagenprincipal, .trabajos .imagenprincipal {
    width: 200px;
    height: 200px;
  }

  .trabajos {
    margin-top: 125px;
  }
}
@media (max-width: 992px) {
  nav {
    height: 70px;
  }

  .navbar-collapse {
    height: auto;
    background-color: white;
    border-radius: 1px;
    border-color: black;
  }

  .headerprincipal, .imagenprincipal, .conteiner {
    display: grid;
    grid-template-areas: "header header" "lista lista" "img h2" "img p";
  }

  .headerprincipal {
    grid-area: header;
  }

  .inicioprincipal {
    grid-area: lista;
  }

  .imagenprincipal {
    grid-area: img;
  }

  h2 {
    grid-area: h2;
  }

  p {
    grid-area: p;
  }
}
.animaciones:hover {
  animation: cambiar-forma 6s;
}

.animaciones {
  height: 250px;
  width: 250px;
  border-radius: 5px;
}

@keyframes cambiar-forma {
  0% {
    border-color: brown;
    border-style: groove;
    border-width: 5px;
  }
  15% {
    border-radius: 50%;
  }
  50% {
    height: 500px;
    width: 500px;
    border-color: brown;
    border-style: groove;
    border-width: 5px;
  }
  100% {
    border-color: red;
    border-width: 10px;
  }
}
main {
  width: 1440px;
}
main section {
  width: 300px;
}

.boton, .boton--nuevo {
  width: 200px;
  height: 50px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 20px;
  border: 1px solid black;
}

.boton--nuevo {
  background-color: rgb(131, 11, 11);
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/*# sourceMappingURL=destino.css.map */
