.animaciones:hover{
    animation: cambiar-forma 6s

}
.animaciones{
    height: 250px;
    width: 250px;
    border-radius: 5px;
}

@keyframes cambiar-forma{
                0%{
                    border-color: brown;
                    border-style: groove;
                    border-width: 5px;
                }
                15%{
                    border-radius: 50%;
                }
                50%{
                    height: 500px;
                    width: 500px;
                    border-color: brown;
                    border-style: groove;
                    border-width: 5px;

                }
                100%{
                    border-color: red;
                    border-width: 10px;
                }


}