$anchura: 720px;
main{

    width: $anchura * 2;
    section{
        width: ($anchura / 2) - 60;
    }
}

.boton {
    width: 200px;
    height: 50px;
    background-color: white;
    text-align: center;
    color: black;
    border-radius: 20px;
    border: 1px solid black;
}
.boton--nuevo{
    @extend .boton;
    background-color: rgb(131, 11, 11);
}
@for $bucle from 1 through 6 {
    .fondo-#{$bucle}{
        background-color: white;
    }
    h#{$bucle}{
        font-size: 3rem / $bucle;
    }
}
$redes:(
    twitter: green,
    facebook: blue,
    instagram: yellow,
);
//*hacer un maps con each para las redes en el footer hora 2:00:00 clase sassII //